.navigation {
    text-align: center;
}

body {
    text-align: center;
}

img {
    float: left;
}

.rock-climbing {
    width: 200px;
    height: 200px;
    margin: 5px;
}

.soccer {
    width: 300px;
    height: 200px;
}

.cybersecurity {
    width: 200px;
    height: 200px;
}



div {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    border-top: solid black;
    border-bottom: solid black;
    margin: 100px auto;
    width: 1000px;
    
}

p {
    text-align: justify;
}
