


section {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    border-top: solid black;
    border-bottom: solid black;
    margin: 100px auto;
    width: 1000px;
    align-self: auto;
}

img {
    float: right;
    align-self: auto;
    width: 200px;
    height: 200px;
}

