body {
    color: black;
    text-align: center;
    
    background-color: gray;
}

.portfolio {
    text-align: center;
    font-size: 32pt;
    border-top: 0.5px solid black;
    border-bottom: 0.5px solid black;
    padding: 10px;
    margin: 80px;
    width: 1000px;
}

.about {
    text-align: center;
    font-size: 32pt;
    border-top: 0.5px solid black;
    border-bottom:  0.5px solid black;
    padding: 10px;
    margin: 80px;
    width: 1000px;
}

.contact {
    text-align: center;
    font-size: 32pt;
    border-top: 0.5px solid black;
    border-bottom:  0.5px solid black;
    padding: 10px;
    margin: 80px;
    width: 1000px;
}

a {
    text-decoration: none;
    color: inherit;
}

.redirects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 80px;
}
main {
    min-height: fit-content;
}

.socials {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-self: center;
    
    float: right !important;
    z-index: 1;
    position: fixed;
    
}

.navigation {
    
    word-spacing: 50px;
    font-size: 32pt;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: grey;
    padding: 16px;
    border-top: none;
    border-bottom: none;
}
